@-webkit-keyframes keepBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
@keyframes keepBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.result-modal {
  position: absolute;
  background-color: #0B0B0B;
  width: 20vw;
  height: 10vh;
  border-radius: 30px;
  color: #D1FF4E;
  border: 1px solid #D1FF4E;
  z-index: 10;
  box-shadow: 0px 0px 0px 9999px rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.game1 {
  width: 40vw;
}
.game1__score {
  width: 100%;
  margin-bottom: 3vh;
  display: flex;
  justify-content: space-between;
}
.game1__score__computer {
  display: flex;
  flex-direction: column;
}
.game1__score__user {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.game1__show {
  width: 100%;
  margin-bottom: 3vh;
  display: flex;
  justify-content: space-between;
}
.game1__show__computer, .game1__show__user {
  width: 45%;
  height: 40vh;
  border: 1px solid #D1FF4E;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game1__show__computer__text, .game1__show__user__text {
  -webkit-animation: keepBlink 1.5s linear infinite;
          animation: keepBlink 1.5s linear infinite;
}
.game1__show__computer img, .game1__show__user img {
  background-color: transparent;
  width: 70%;
  height: auto;
  filter: invert(100%);
}
.game1__user-choice {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game1__user-choice__title {
  margin-bottom: 3vh;
  font-size: 2rem;
  color: #D1FF4E;
}
.game1__user-choice__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.game1__user-choice__buttons button {
  width: 30%;
  height: 8vh;
  border: 1px solid #D1FF4E;
  border-radius: 50px;
}
.game1__user-choice__buttons button h3 {
  background-color: transparent;
  font-size: 3rem;
}
.game1__user-choice__buttons button:hover {
  background-color: #D1FF4E;
  color: #0B0B0B;
  cursor: pointer;
}
.game1__user-choice__buttons button:hover h3 {
  color: #0B0B0B;
}