$bg-color: #0B0B0B;
$point-color: #D1FF4E;


body h2 {
    color: white;
    font-size: 4rem;
}
body h3 {
    color: white;
    font-size: 1.8rem;
}

body {
    color: white;
}

.nav-bar {
    height: 7%;
    display: flex;
    padding: 0px 1.5rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgba($color: #ffffff, $alpha: 1) 1px solid;

    a {
        text-decoration: none;
    }
}